@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 8s linear infinite;
}

.animate-text-glow {
  animation: text-glow 2s ease-in-out infinite;
}
